{% extends "templates/pages/base.html" %}

{% block title %} Airports List {% endblock %}

{% block css %}
<link rel="stylesheet" href="/assets/airplane_mode/css/flights.css">
<style>
    section {
        display: flex;
    }
    h2 {
        text-align: center;
    }
    .FlightsFrom, .FlightsTo {
        flex: 1;
    }

</style>

{% endblock %}

{% block body %}

<h1>{{airport[0]}}</h1>
<section>
<div id="flights-list" class="FlightsFrom">
    <h2>Departing flights</h2>
    {% if flightsFrom %}
    <div class="flight-card-container">
        {% for flight in flightsFrom %}
        <div class="flight-card">
            <h5>{{ flight.name.split('-')[0] }}</h5>
            <div class="flight-info">
                <span>{{ flight.source_airport_code }}</span><span>→</span><span>{{ flight.destination_airport_code }}</span><br>
                <span>{{ frappe.utils.format_date(flight.date_of_departure, "d MMMM, YYYY") }}</span> |
                <span>{{ flight.time_of_departure }}</span> |
                <span>{{ frappe.utils.format_duration(flight.duration) }}</span>
            </div>
            <br>
            <a href="/flights/{{ flight.name }}">View Flight</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1>No Flights are available for the selected criteria.</h1>
    {% endif %}

</div>
<hr>
<div id="flights-list" class="FlightsTo">
    <h2>Arriving flights</h2>
    {% if flightsTo %}
    <div class="flight-card-container">
        {% for flight in flightsTo %}
        <div class="flight-card">
            <h5>{{ flight.name.split('-')[0] }}</h5>
            <div class="flight-info">
                <span>{{ flight.source_airport_code }}</span><span>→</span><span>{{ flight.destination_airport_code }}</span><br>
                <span>{{ frappe.utils.format_date(flight.date_of_departure, "d MMMM, YYYY") }}</span> |
                <span>{{ flight.time_of_departure }}</span> |
                <span>{{ frappe.utils.format_duration(flight.duration) }}</span>
            </div>
            <br>
            <a href="/flights/{{ flight.name }}">View Flight</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1>No Flights are available for the selected criteria.</h1>
    {% endif %}
</div>

   
</section>
    

{% endblock %}